<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="true"
>
    <testsuites>
    	<testsuite name="exceptions">
    		<directory suffix=".php">./tests/exceptions</directory>    		
    	</testsuite>
        <testsuite name="columns">
            <directory suffix=".php">./tests/columns</directory>
        </testsuite>
        <testsuite name="drivers">
            <directory suffix=".php">./tests/drivers</directory>
        </testsuite>
        <testsuite name="response">
            <directory suffix=".php">./tests/response</directory>
        </testsuite>
        <testsuite name="datatable">
            <file>./tests/datatable/FacadeTest.php</file>
            <file>./tests/datatable/DatatableTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
