<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="true"
>
    <testsuites>
        <testsuite name="laravel">
            <directory suffix=".php">./tests/laravel</directory>
        </testsuite>
        <testsuite name="datatable">
            <directory suffix=".php">./tests/datatable</directory>
        </testsuite>
        <testsuite name="columns">
            <directory suffix=".php">./tests/columns</directory>
        </testsuite>
    </testsuites>
</phpunit>
